.catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogue > h4 {
    margin-bottom: 0;
}
.catalogue > span {
    font-size: 0.8rem;
}
.catalogue > button.filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.catalogue .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogue .content .item {
    width: 80%;
}
.catalogue .content .table {
    text-align: center;
    max-width: 500px;
    width: 85vw;
}
.catalogue .content .table td a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: unset;
}
.catalogue form .container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: max-content;
}
.catalogue form .container-items > div {
    width: 100%;
}
.catalogue form .container-items > button[type="submit"] {
    width: 100%;
}
