.container-slider  h4{
    text-align: center;
}
.item-slide {
    width: 100%;
    /* max-width: 100%; */
    height: 45vw;
    max-height: 400px;
    background-position: center;
    position: relative;
}
.item-slide::after {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: linear-gradient(to right, rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.377));
}
